/* line 4, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_bradcam.scss */
.bradcam_area {
  background-size: cover;
  background-position: center center;
  padding: 280px 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.bradcam_bg1{
  background-image: url(../img/banner/bmkg-wiop.jpeg);
}

.image-baru{
	height: 250px;
}

.image-radar{
	height: 300px;
}
.image-angin{
	height: 350px;
}
